<div class="row">
  <div class="col s12">
    <div class="row">
    <h3>Your {{length}} cool places</h3>
      <div class="input-field col s8">
        {{input value=filter class="filter" placeholder="Filter by..."}}
      </div>
      <div class="input-field col s3">
        {{materialize-button text='Sort' action='sort'}}
      </div>
    </div>

    <ul class="collection">
      {{#each filteredModel}}
      <li class="collection-item">
        <span class="title teal-text text-darken-2">
          {{name}}
        </span>
        <p>
          <span class="grey-text">Cool tags: </span>{{tags}}
        </p>
      </li>
      {{/each}}
    </ul>

  </div>
</div>
