<div class="places">

<h2>Your {{length}} cool places</h2>

{{input value=filter class="filter"}}

<button {{action "sort"}} {{bind-attr class=":sort sortAscending:asc:desc"}}>Sort</button>

<ul class="places-list">
  {{#each filteredModel}}
  <li class="place">
    {{name}} - {{tags}}
  </li>
  {{/each}}
</ul>

</div>

{{outlet}}
